<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ark.tictachead"
    android:installLocation="auto"
    android:versionName="1.0"
    android:versionCode="1"
>

    <!-- SDK levels -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17"
  	/>
    
    <!-- Permissions -->
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Application -->
    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        android:allowBackup="true"
   	>
		<!-- Friend list -->
		<activity
			android:label="@string/app_name"
			android:name="net.ark.tictachead.activities.LoginActivity"
		>
			<!-- App launcher -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

        <!-- Friend list -->
        <activity
            android:label="@string/app_name"
            android:name="net.ark.tictachead.activities.FriendsActivity"
       	/>

        <!-- Game dialog -->
        <activity
            android:label="DialogHead"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Holo.Light.Dialog.Head"
            android:name="net.ark.tictachead.activities.GameActivity"
       	/>
        
        <!-- Services -->
        <service android:name="net.ark.tictachead.services.HeadService" 		/>
        <service android:name="net.ark.tictachead.services.RoomService" 		/>
        <service android:name="net.ark.tictachead.services.MoveService" 		/>
		<service android:name="net.ark.tictachead.services.LoginService" 		/>
		<service android:name="net.ark.tictachead.services.PlayersService" 		/>
        <service android:name="net.ark.tictachead.services.GameUpdateService" 	/>
    </application>

</manifest>